<body>
    <section id="tuto">
        <div id="titre">
            <h1>Etape 1</h1>
            <h2>Présentation de l'application</h2>
        </div>
        <div id="consigne">
            <p>
                Commençons par te présenter l'application ! Comme tu peux le voir, en haut à droite, tu as à ta disposition plusieurs outils. Tu peux, dans la première session :
            </p>
            <ul>
                <li>Ouvrir un nouveau documment <img  src="assets/ImPNG/new.svg" width="15" height="18"></li>
                <li>Enregistrer ton travail <img  src="assets/ImPNG/save.svg" width="15" height="18"></li>
                <li>Quitter l'application <img  src="assets/ImPNG/exit.svg" width="15" height="18"></li>
                <li>Revenir en arrière <img  src="assets/ImPNG/undo.svg" width="16" height="18"></li>
            </ul>
            <p>
                Ensuite dans la session à côté, tu auras la possibilité de :
            </p>
            <ul>
                <li>Jouer ce que tu as fais <img  src="assets/ImPNG/play.svg" width="18" height="18"></li>
                <li>Arrêter la simulation et revenir au début <img  src="assets/ImPNG/stop.svg" width="18" height="18"></li>
            </ul>
            <p>
                Les deux dernières sessions sont les éléments que tu pourras utiliser pour créer ta programmation. Tu y trouveras :
            </p>

            <ul>
                    <li>Les fonctions <img  src="assets/ImPNG/Pieces/allumer.png" width="18" height="15"></li>
                    <li>Les couleurs <img  src="assets/ImPNG/Pieces/piece_couleur.png" width="13" height="18"></li>
            </ul>

        </div>

        <div id="outil">
            <img id="im_outil" src="assets/ImPNG/outils.PNG" width="480" height="70"/>
        </div>
        
        <a routerLink="/home">
<img id="Exit" src="assets/ImPNG/exit.svg" width="45" height="45" title="Quitter">
        </a>
    </section>
</body>
