<body>
    <section id="menu">
        <div id="titre">
            <h1>Perret Kids !!</h1>
        </div>
        
        <div id="boutons">
            <div id="boutons_top">
                <div id="tuto">
                    <a routerLink="/tuto">Tutoriel</a>
                </div>

                <div id="editor">
                    <a routerLink="/editor">Edition</a>
                </div>
            </div>

            <div id="apropos">
                <div>
                    <a routerLink="/a-propos">A propos</a>
                </div>
            </div>
        </div>
    </section>
</body>