<body>
    <section id="tuto">
        <div id="titre">
            <h1>Etape 1</h1>
            <h2>Présentation de l'application</h2>
        </div>
        
        <div id="consigne">
            <div id="consigne_tour">
                <div class="paragraphe">
                    <p>
                        Ensuite, nous avons la tour ! C'est sur cette tour que tu pourras voir le résultat de ta programmation lorsque tu l'auras lancée avec la touche <img  src="assets/ImPNG/play.svg" width="18" height="18">
                    </p>

                    <p>
                       Chaque étage changerons de couleur suivant ce que tu as programmé ! Tu pourras changer l'orientation de la tour avec les flèches qui sont sur le dessus de la tour ! Cela te permettra de voir ce que tu as fais suivant les quatre orientations.
                    </p>
                </div>
                <div id="lumiere">
                    <div id="etage1">
                        
                    </div>
                    
                    <div id="etage2">
                        
                    </div>
                    
                    <div id="etage3">
                        
                    </div>
                </div>
                <div id="image_tour">
                    <img id="perret" src="assets/ImPNG/Tour_Perret.svg" width="27" height="200">
                </div>
            </div>
            
            <div id="consigne_start">
                <div class="paragraphe">
                    <p>
                        A côté de la tour, tu as ton espace de travail ! C'est ici que tu programmeras les lumières de la tour. La pièce <img src="assets/ImPNG/Pieces/start.png" width="18" height="15"/> représente la première pièce de ta programmation !
                    </p>

                    <p>
                       Pour programmer, il te suffira de prendre les fonctions et couleurs dans la barre d'outils, et de les glisser dans ton espace de travail. La première fonction que tu utiliseras devra être placée à droite de la pièce <img src="assets/ImPNG/Pieces/start.png" width="18" height="15"/>
                    </p>
                </div>
                
                <div id="image_startr">
                    <img id="start" src="assets/ImPNG/Pieces/start.png" width="80" height="63"/>
                </div>
            </div>
        </div>
        
        <a routerLink="/home">
<img id="Exit" src="assets/ImPNG/exit.svg" width="45" height="45" title="Quitter">
        </a>
    </section>
</body>