<body>
    <section id="apropos">
        <div id="titre">
            <h1>A propos ... </h1>
        </div>
        
        <div id="paragraphe">
            <h2> Qui sommes nous ?</h2>
            <p>
                Nous nous prénomons Clarisse, Henrique et Lucas, et nous sommes trois étudiants à l'école d'ingénieurs Polytech Grenoble. Nous suivons une formation sur l'Informatique et l'Electronique des les systèmes embarqués.
            </p>
            
            <h2> Le projet </h2>
            <p>
                Le développement de cette interface rentre dans le cadre de notre projet de fin d'études. Nous devions initier les jeunes enfants (8ans et plus) à la programmation. Cette programmation visera à illuminer la tour Perret présente à Grenoble. Ce projet est en collaboration avec l'IUT GEII de Grenoble qui a déjà développé une interface de contrôle basique illuminant une maquette de cette tour. 
            </p>
        </div>
        
        <div id="images_ecoles">
            <img id="iut1" src="assets/ImPNG/Images_Ecoles/iut1.png" width="105" height="70" title="IUT 1 de Grenoble">
            
            <img id="polytech" src="assets/ImPNG/Images_Ecoles/polytech.png" width="200" height="70" title="Polytech Grenoble">
            
            <img id="grenoble" src="assets/ImPNG/Images_Ecoles/ville_grenoble.png" width="75" height="75" title="Ville de Grenoble">
        </div>
        
        <div id="back">
            <a routerLink="/home">
<img id="Exit" src="assets/ImPNG/exit.svg" width="45" height="45" title="Quitter">
            </a>
        </div>
    </section>
</body>